.island-container {
  width: 200px;
  height: 200px;
  background-color: rgb(208, 208, 208);
  border-radius: 50%;

  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-top: 20px;
}

.complete {
  background-color: #21b3d1;
}

.locked {
  background-color: rgb(95, 95, 95);
  cursor: not-allowed;
}
