  <main>

    <div class="header-container">
      <h1 class="title">Bem-Vindo a <br> <span class="title-highlight"> Caçada ao Tesouro </span> </h1>
    </div>

    <div class="divider">
      <hr class="line"> <img class="x" src="./assets/xDecoration.png" alt="" role="presentation">
    </div>

    <div class="button-container">
      <button class="button" (click)="goToHome()"> <span class="button-text"> Iniciar </span> </button>
      <button class="button" onclick=" location.href = './pages/tutorial.html'"> <span class="button-text"> Tutorial </span> </button>
    </div>


    <div class="teste2">
      <p class="teste">Apoie e faça a sua parte</p>
    </div>
  </main>
